@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}

@media print {
  @page {
    size: letter;
    margin: 0.4in 0.5in;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  * {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
